<h1>Add Student</h1>

<form action="/Students/new" method="post">
	<%= erb :student_form%>
	<div>
	  <button type="reset">Clear</button>
	  <button type="submit">Done</button>
	</div>

</form> 






 
